body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #22303C;
}

.app-container {
    text-align: center;
}

h1 {
    color: #f4f4f4;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #C8A2C8;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ef51ba;
}

#appreciationCount {
    margin-top: 20px;
    color: #f4f4f4;
}

#cuteImage {
    border-radius: 36px;
    width: 400px;
    transition: opacity 0.5s ease-in-out;
}

#cuteMessage {
    color: #f4f4f4
}

#cuteImage:hover {
    opacity: 0.7; /* Adjust the opacity level as needed */
}

/* Updated styling for the heart image */
.heart-image {
    position: absolute;
    width: 60px; /* Adjust the width and height as needed */
    height: 60px;
    pointer-events: none; /* Allow clicks to go through the heart image */
    animation: float 2s ease-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
